<template>
  <div class="container">
    <span>Vue here</span>
    <router-link to="/">Home</router-link>
    <router-link to="/com">Component</router-link>
    <router-view />
  </div>
</template>

<style scoped>
.container {
  margin-left: var(--navbar-width);
  background-color: #327ead;
  color: white;
}
</style>